body{
    padding:99px;
}

/* customer */
.customer-color{
    width: 15px;
    height: 15px;
    background-color:blue;
    cursor:pointer;
}
.customer-selected{
    background-color:#0c0c6b;
}
/* seat */
.seat{
    width: 300px;
    background-color:#f2f2f2;
    padding:5px;
    overflow: hidden;
}
.seat-id{
    height: 46px;
    width: 46px;
    margin:2px;
    background-color: #bfbfbf;
    float: left;
    cursor: pointer;
}
.seat-id > p{
    text-align: center;
}
.seat-notavailabe{
    background-color: #f25d52;
    /* cursor:disabl */
}
.seat-selected{
    background-color: #52f298;
}

/* seat by jondes ganteng */